<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ITravel Register</title>
	<meta name="keywords" content="ITravel">
	<meta name="content" content="ITravel">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="text/css" rel="stylesheet" href="../../public/css/login.css">
</head>
<body class="login_bj" >
{{{body}}}
</body>
</html>
