<div class="zhuce_body">
    <div class="zhuce_kong login_kuang">
        <div class="zc">
            <div class="bj_bai">
                <h3>Register</h3>

                <form action="/user/register" method="post">
                    <input name="username" type="text" class="kuang_txt username" placeholder="userName" id="username">
                    <input name="password" type="text" class="kuang_txt possword" placeholder="possword" id="password">
                    <input name="register" type="submit" class="btn_zhuce" value="register" id="register">

                    Already have account？<a href="http://localhost:3000/user/login">Login</a>
                    <div class="alert alert-danger hidden" id="form-alert">123</div>
                </form>
            </div>
            <div class="bj_right">
                <p>Login with other account</p>
                <a href="#" class="zhuce_qq">QQ</a>
                <a href="#" class="zhuce_wb">Weibo</a>
                <a href="#" class="zhuce_wx">Wechat</a>


            </div>
        </div>
    </div>

</div>
