<!-- about -->
<div class="about">
    <div class="about-heading">
        <div class="container">
            <h2 class="wow fadeInDown animated" data-wow-delay=".5s">About</h2>
            <p class="wow fadeInUp animated" data-wow-delay=".5s">CS546 Final Project Proposal – iTravel</p>
        </div>
    </div>
    <div class="about-top">
        <div class="container">
            <div class="about-bottom">
                <img class="wow fadeInUp animated" data-wow-delay=".5s" src="../public/images/ab.jpg" alt=""/>
                <p class="wow fadeInUp animated" data-wow-delay=".5s">Our project is going to design a travelling
                    website serving as an information platform
                    for people who are interested in travel. Here, you can search the travel information you
                    want as well as share your own travel experience! We are focusing on most of the
                    famous tourist cities in China and provide information including city introductions,
                    scenic spot manuals, gourmet food recommendations, etc. In a word, we are aimed to
                    cover the information that users may be interested in as much as possible.
                    Note: In order to simplify this project, the target travel country is now limited to China.</p>
            </div>
        </div>
    </div>

    <!-- team -->
    <div class="team">
        <div class="container">
            <div class="popular-heading team-heading">
                <h3 class="wow fadeInUp animated" data-wow-delay=".5s">Our Team</h3>
                <p class="wow fadeInUp animated" data-wow-delay=".5s">Group Members:
                    Xuan Li,
                    Yiran Li,
                    Qingzheng Liu,
                    Zihao Zhao,
                    Xinyu Ge
                    <br>
                    Github: <a href="https://github.com/qiedingding/iTravel">https://github.com/qiedingding/iTravel</a></p>
            </div>
            <div class="team-grids">
                <div class="col-md-4 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
                    <a href="http://penguingx.com/"><img class= "selfphoto" src="../public/images/t1.jpg" alt="xuan li" /></a>
                    <h4>Xuan Li</h4>
                    <p>JAVA FANS.</p>
                    <div class="social-icons team-icons">
                        <ul>
                            <li><a class="twitter" href="https://twitter.com/qiedingding93"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="twitter facebook" href="https://www.facebook.com/xuan.li.3152"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter google" href="https://github.com/qiedingding"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 team-grid wow fadeInUp animated" data-wow-delay=".5s">
                    <img src="../public/images/t6.jpg" class= "selfphoto" alt=""/>
                    <h4> Yiran Li</h4>
                    <p>Proin vitae luctus dui, sit amet ultricies leo. Donec condimentum, mauris et pharetra molestie,
                        dolor dui dignissim metus, a malesuada elit odio non velit.</p>
                    <div class="social-icons team-icons">
                        <ul>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 team-grid wow fadeInRight animated" data-wow-delay=".5s">
                    <img src="../public/images/t3.jpg" class= "selfphoto" alt=""/>
                    <h4>Xinyu Ge</h4>
                    <p>Proin vitae luctus dui, sit amet ultricies leo. Donec condimentum, mauris et pharetra molestie,
                        dolor dui dignissim metus, a malesuada elit odio non velit.</p>
                    <div class="social-icons team-icons">
                        <ul>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
                    <img src="../public/images/t2.jpg" class= "selfphoto" alt=""/>
                    <h4>Zihao Zhao</h4>
                    <p>Proin vitae luctus dui, sit amet ultricies leo. Donec condimentum, mauris et pharetra molestie,
                        dolor dui dignissim metus, a malesuada elit odio non velit.</p>
                    <div class="social-icons team-icons">
                        <ul>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 team-grid wow fadeInUp animated" data-wow-delay=".5s">
                    <img src="../public/images/t4.jpg" class= "selfphoto" alt=""/>
                    <h4>Qingzheng Liu</h4>
                    <p>Proin vitae luctus dui, sit amet ultricies leo. Donec condimentum, mauris et pharetra molestie,
                        dolor dui dignissim metus, a malesuada elit odio non velit.</p>
                    <div class="social-icons team-icons">
                        <ul>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //team -->
</div>
<!-- //about -->
