
<!-- login -->
<div class="login">
    <div class="container">
        <div class="login-body">
            <div class="login-heading">
                <h1>Sign up</h1>
            </div>
            <div class="login-info">
                <form id="signupForm" name="signupForm">
                    <label for="username">Name (required, at least 8 characters)</label>
                    <input type="text" class="user" name="username" minlength="8" id="username" placeholder="Name" required>
                    <label for="email">Email (required)</label>
                    <input type="text" class="email" name="email" id="email" placeholder="Email" required>
                    <label for="password">Password (required, at least 8 characters)</label>
                    <input type="password" name="password1" minlength="8" id="password1" class="lock" placeholder="Password" required>
                    <input type="password" name="password2" minlength="8" id="password2"  class="lock" placeholder="Confirm Password" required>
                    {{#if message }}
                        <div class="alert alert-danger" role="alert">
                            <strong>Oh snap!</strong> {{message }}
                        </div>
                    {{/if}}
                    <div class="alert alert-danger hidden" role="alert" id="form-alert">
                        123
                    </div>
                    <input type="submit" name="Sign In" value="Sign up">
                    <div class="signup-text">
                        <a href="/user/login">Already have an account? Login here.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //login -->
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>
<script src="../../public/js/signup.js"></script>
