
<!-- login -->
<div class="login">
    <div class="container">
        <div class="login-body">
            <div class="login-heading">
                <h1>Sign up</h1>
            </div>
            <div class="login-info">
                <form>
                    <input type="text" class="user" name="email" placeholder="Name" required="">
                    <input type="text" class="user" name="email" placeholder="Email" required="">
                    <input type="password" name="password" class="lock" placeholder="Password">
                    <input type="password" name="password" class="lock" placeholder="Confirm Password">
                    <input type="submit" name="Sign In" value="Sign up">
                    <div class="signup-text">
                        <a href="login.html">Already have an account? Login here.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //login -->
