
<body>
<!-- header -->
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-info">
                <div class="top-header-left wow fadeInLeft animated" data-wow-delay=".5s">
                    <p>More than 10 new destinations for your trip</p>
                </div>
                <div class="top-header-right wow fadeInRight animated" data-wow-delay=".5s">
                    <div class="top-header-right-info">
                        <ul>
                            <li><a href="user/login">Login</a></li>
                            <li><a href="user/ignup">Sign up</a></li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="twitter facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter google" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="logo wow fadeInDown animated" data-wow-delay=".5s">
                <h1><a href="index.html"><img src="../../public/images/logo.jpg" alt="" /></a></h1>
            </div>
            <div class="top-nav wow fadeInRight animated" data-wow-delay=".5s">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="codes.html">Codes</a></li>
                            <li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="hvr-bounce-to-bottom" href="gallery1.html">Gallery1</a></li>
                                    <li><a class="hvr-bounce-to-bottom" href="gallery2.html">Gallery2</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- //header -->

<!-- login -->
<div class="login">
    <div class="container">
        <div class="login-body">
            <div class="login-heading">
                <h1>Sign up</h1>
            </div>
            <div class="login-info">
                <form>
                    <input type="text" class="user" name="email" placeholder="Name" required="">
                    <input type="text" class="user" name="email" placeholder="Email" required="">
                    <input type="password" name="password" class="lock" placeholder="Password">
                    <input type="password" name="password" class="lock" placeholder="Confirm Password">
                    <input type="submit" name="Sign In" value="Sign up">
                    <div class="signup-text">
                        <a href="login.html">Already have an account? Login here.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //login -->

<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-nav wow fadeInLeft animated" data-wow-delay=".5s">
                <h4>Navigation</h4>
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="gallery1.html">Gallery</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-5 footer-nav wow fadeInUp animated" data-wow-delay=".5s">
                <h4>Newsletter</h4>
                <p>Nunc non feugiat quam, vitae placerat ipsum. Cras at felis congue, volutpat neque eget</p>
                <form>
                    <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="col-md-4 footer-nav wow fadeInRight animated" data-wow-delay=".5s">
                <h4>Latest News</h4>
                <div class="news-grids">
                    <div class="news-grid">
                        <h6>09/01/2016 : <a href="single.html">Cras at felis congue</a></h6>
                        <h6>13/07/2016 : <a href="single.html">Volutpat neque eget</a></h6>
                        <h6>13/02/2016 : <a href="single.html">Agittis tellus ut dictum</a></h6>
                        <h6>28/11/2016 : <a href="single.html">Habitant morbi et netus</a></h6>
                        <h6>19/01/2016 : <a href="single.html">pellentesque habitant morbi</a></h6>
                        <h6>23/02/2016 : <a href="single.html">Maecenas volutpat lacus</a></h6>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="copyright wow fadeInUp animated" data-wow-delay=".5s">
            <p>© 2016 ITravel . All Rights Reserved . Design by Xuan Li</p>
        </div>
    </div>
</div>
<!-- //footer -->
</body>