<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Group iTravel</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>
